// main: ../main.sass
  _   _                _             _                         _
 | | | | ___  __ _  __| | ___ _ __  | | __ _ _   _  ___  _   _| |_
 | |_| |/ _ \/ _` |/ _` |/ _ \ '__| | |/ _` | | | |/ _ \| | | | __|
 |  _  |  __/ (_| | (_| |  __/ |    | | (_| | |_| | (_) | |_| | |_
 |_| |_|\___|\__,_|\__,_|\___|_|    |_|\__,_|\__, |\___/ \__,_|\__|
                                             |___/
#header
  position: relative

  padding: $contentPadding

  background: $bgColor

  +bp('xl')
    padding: 10px 10%
.brand
  float: left

  a
    text-decoration: none

    color: $headerLight

    font-family: $OpenSans

    +font-size(30px)
    +center(vert)

.menuToggle
  float: right

  color: $headerLight

  +font-size(30px)

#headerSearch
  display: none

  +bp('l')
    position: relative
    z-index: 1

    display: inline-block
    float: right

    margin-top: 10px

    border-radius: 5px
    box-shadow: inset 0 0 0 1px #272727

    font-size: 0px


    input
      display: block
      float: left

      width: 200px
      height: 40px
      margin: 0
      padding: 0 10px

      color: #888888
      border: 1px solid #444444
      border-radius: 5px 0 0 5px
      background: #222222
      background: linear-gradient(#333333, #222222)
      text-shadow: 0 -1px 0 #000000

      font-family: 'Cabin', helvetica, arial, sans-serif
      font-size: 13px
      font-weight: 400

      &::-webkit-input-placeholder
        color: 888
      &:-moz-placeholder
        color: 888
      &:focus
      	animation: glow 800ms ease-out infinite alternate

      	color: #efe
      	border-color: #393
      	outline: none
      	background: #222922
      	background: linear-gradient(#333933, #222922)

      &:focus::-webkit-input-placeholder
        color: #efe
      &:focus:-moz-input-placeholder
        color: #efe

    button
      position: relative

      display: block
      float: right

      box-sizing: border-box
      width: 80px
      height: 40px
      margin: 0
      padding: 0

      cursor: pointer

      color: #888888
      border: 1px solid #444444
      border-left-color: #000
      border-radius: 0 5px 5px 0
      background: #222222
      background: linear-gradient(#333333, #222222)
      text-shadow: 0 -1px 0 #000000

      font-family: 'Cabin', helvetica, arial, sans-serif
      font-size: 13px
      font-weight: 400
      line-height: 40px
      &:hover,
      &:focus
        color: $secondary
        outline: none
        background: #292929
        background: linear-gradient(#393939, #292929)
      &:active
        top: 1px

        background: #292929
        background: linear-gradient(#393939, #292929)
        box-shadow: 0 1px 0 #000, inset 1px 0 1px #222
