// main: ../main.sass
  _____         _                                _         _
 |_   _|____  _| |_ _ __   __ _  __ _  ___   ___| |_ _   _| | ___  ___
   | |/ _ \ \/ / __| '_ \ / _` |/ _` |/ _ \ / __| __| | | | |/ _ \/ __|
   | |  __/>  <| |_| |_) | (_| | (_| |  __/ \__ \ |_| |_| | |  __/\__ \
   |_|\___/_/\_\\__| .__/ \__,_|\__, |\___| |___/\__|\__, |_|\___||___/
                   |_|          |___/                |___/

.grid.textpage
  #mainContent
    h1
      float: left
      width: 100%
      margin-bottom: 0
      +bp('m')
        text-align: left
    .publishInfo
      text-align: center
      float: left
      width: 100%
      +bp('m')
        text-align: left
      .releaseDate,
        color: darken($primary-dark, 20%)
        float: left
        font-size: 14px
        margin-bottom: 10px
        width: 100%
        span
          margin-right: 5px
  .postBanner
    width: 100%
    overflow: hidden
    margin-bottom: 15px
    height: 150px
    +bp('l')
      height: 300px
    img
      width: 100%
      height: 100%
      object-fit: cover
